### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Coverage directoy
./coverage

# Dependency directory
/node_modules/*
/node_modules

# Build directory
/dist/*

# IDE
.idea/
.idea/*
.vscode/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache